*{
    margin: 0px;
    padding:0px;
    overflow-x: hidden;
    width: 100%;
}
.main-container{
    background-color: chocolate;
    height: 100vh;
    padding: 40px;
}
.welcomecontainer h1{
    margin-top: 200px;
    margin-left: 290px;
    font-size: 50px;
   

}